{% extends 'home/nav_bar.html'%}
	
{% block body %}
{% for profile in view_profiles %}

	<div class="list-group">
  <a href="{% url 'profiles:view_one' profile.id %}" class="list-group-item">
    <h4 class="list-group-item-heading" align="center">{{profile.profiles_heading}}</h4>
    <p class="list-group-item-text">{{profile.introduction|truncatechars:185}}</p>
  </a>
</div>
<br>

{% endfor %}






{% endblock %}
