<!DOCTYPE html>
<html lang="en-US" class="large-device">
  {% load staticfiles %}
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      Global Freight and Cargo
    </title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="xmlrpc.php" />
    <!-- BEGIN CUSTOM HEADER SCRIPTS -->
    <!-- END CUSTOM HEADER SCRIPTS -->
    <meta name='robots' content='noindex,follow' />
    <link rel="alternate" type="application/rss+xml" title="Willow &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Willow &raquo; Comments Feed" href="comments/feed/index.html" />
    <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png' %}","source":{"concatemoji":"http:\/\/solopine.com\/willow\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
      !function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
      img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
    </style>
    <link rel='stylesheet' id='contact-form-7-css'  href="{% static 'home/assets/wp-content/plugins/contact-form-7/includes/css/styles7e2e.css'  %}" type='text/css' media='all' />
    <link rel='stylesheet' id='Raleway-css'  href='http://fonts.googleapis.com/css?family=Raleway%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=latin&amp;ver=4.4.2'  type='text/css' media='all' />
    <link rel='stylesheet' id='Open+Sans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=latin&amp;ver=4.4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='willow-bootstrap-css'  href="{% static 'home/assets/wp-content/themes/willow/css/bootstrap.willow.minb12b.css'  %}" type='text/css' media='all' />
    <link rel='stylesheet' id='fontawesome-css'  href="{% static 'home/assets/wp-content/themes/willow/css/font-awesome.minfa0c.css'  %}" type='text/css' media='all' />
    <link rel='stylesheet' id='linecons-css'  href="{% static 'home/assets/wp-content/themes/willow/css/linecons8a54.css'  %}" type='text/css' media='all' />
    <link rel='stylesheet' id='animate-css'  href="{% static 'home/assets/wp-content/themes/willow/css/animatea7a4.css'  %}" type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelement-css'  href="{% static 'home/assets/wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css'  %}" type='text/css' media='all' />
    <link rel='stylesheet' id='willow-jquery-magnific-popup-css'  href="{% static 'home/assets/wp-content/themes/willow/css/magnific-popup.willowe2dc.css'  %}" type='text/css' media='all' />
    <link rel='stylesheet' id='willow-style-css'  href="{% static 'home/assets/wp-content/themes/willow/css/style4e44.css'  %}" type='text/css' media='all' />
    <style id='willow-style-inline-css' type='text/css'>
      /**
      * Change font family to body_font_face
      */
      body {
      font-family: Open Sans;
      }
      /**
      * Change border color to accent color
      */
      blockquote {
      border-color: #0faf97;
      }
      /**
      * Change background color to accent color
      */
      .btn.btn-primary,
      .btn.btn-hero-primary,
      .wpb_willow_service_block .service-icon span {
      background-color: #0faf97;
      }
      /**
      * Change text color to accent color
      */
      a,
      h1 a:hover,
      h2 a:hover,
      h3 a:hover,
      h4 a:hover,
      h5 a:hover,
      h6 a:hover,
      .color-accent,
      .widget-post .widget-post-title:hover,
      .grid-post .grid-post-title:hover,
      .widget ul li a:hover,
      .widget .tagcloud a:hover,
      .wpb_willow_progress_bar .progress-bar-thumb {
      color: #0faf97;
      }
      /**
      * Change font family to heading_font_face
      */
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      button,
      input[type="submit"],
      input[type="reset"],
      .btn,
      .site-logo,
      .separator-title,
      .tagcloud a,
      .hero-section .hero-slide-style-1 .hero-middle-text,
      .hero-section .hero-slide-style-1 .hero-bottom-text,
      .hero-section .hero-slide-style-2 .hero-middle-text,
      .hero-section .hero-slide-style-2 .hero-bottom-text,
      .hero-section .hero-slide-style-3 .hero-top-text,
      .hero-section .hero-slide-style-3 .hero-middle-text,
      .header-section .header-navigation,
      .portfolio-details-section .portfolio-metadata dt,
      .page-not-found h1,
      .comments .comments-list li .comment-name,
      .comments .comments-list li .comment-date,
      .content-post .post-meta,
      .content-post .post-title,
      .content-post .post-pagination,
      .widget-post .widget-post-date,
      .grid-post .grid-post-title,
      .grid-post .grid-post-date,
      .widget .widget-title,
      .wpb_willow_big_title,
      .copyright-section .copyright-legal,
      .wpb_willow_team_member_block .team-member-name,
      .wpb_willow_team_member_block .team-member-position,
      .wpb_willow_team_member_block .team-member-links label,
      .wpb_willow_portfolio_grid .portfolio-grid-filter a,
      .wpb_willow_portfolio_grid .portfolio-title,
      .wpb_willow_portfolio_grid .portfolio-category,
      .wpb_willow_progress_bar .progress-bar-text,
      .wpb_willow_blog_grid .blog-grid-post-category,
      .wpb_willow_blog_grid .blog-grid-post-title,
      .wpb_willow_blog_grid .blog-grid-post-date,
      .wpb_willow_counter .counter-value,
      .wpb_willow_counter .counter-caption,
      #jprePercentage {
      font-family: Raleway;
      }
    </style>
    <link rel='stylesheet' id='style-css'  href="{% static 'home/assets/wp-content/themes/willow/stylec1f9.css'  %}" type='text/css' media='all' />
    <script type='text/javascript' src="{% static 'home/assets/wp-includes/js/jquery/jqueryc1d8.js' %}"></script>
    <script  type='text/javascript' src="{% static 'home/assets/wp-includes/js/jquery/jquery-migrate.min1576.js' %}"></script>
    <!--[if lt IE 9]>
    <script  %}" type='text/javascript' src='http://solopine.com/willow/wp-content/themes/willow/js/html5shiv.js?ver=3.7.0' %}"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script  %}" type='text/javascript' src='http://solopine.com/willow/wp-content/themes/willow/js/respond.min.js?ver=1.4.2' %}"></script>
    <![endif]-->
    <script  type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/waypoints.min1c12.js' %}"></script>
    <script type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/hoverintentb34d.js' %}"></script>
    <script type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/superfishb34d.js' %}"></script>
    <script  type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/bootstrap.minb12b.js' %}"></script>
    <script  type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/smoothscroll.min1576.js' %}"></script>
    <script  type='text/javascript'>
      /* <![CDATA[ */
      var mejsL10n = {"language":"en-US","strings":{"Close":"Close","Fullscreen":"Fullscreen","Download File":"Download File","Download Video":"Download Video","Play\/Pause":"Play\/Pause","Mute Toggle":"Mute Toggle","None":"None","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Unmute":"Unmute","Mute":"Mute","Captions\/Subtitles":"Captions\/Subtitles"}};
      var _wpmejsSettings = {"pluginPath":"\/willow\/wp-includes\/js\/mediaelement\/"};
      /* ]]> */
    </script>
    <script  type='text/javascript' src="{% static 'home/assets/wp-includes/js/mediaelement/mediaelement-and-player.mineb0c.js' %}"></script>
    <script  type='text/javascript'>
      /* <![CDATA[ */
      var willow = {"gmap_style_json":"[{\"featureType\":\"administrative\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"on\"},{\"saturation\":-100},{\"lightness\":20}]},{\"featureType\":\"road\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"on\"},{\"saturation\":-100},{\"lightness\":40}]},{\"featureType\":\"water\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"on\"},{\"saturation\":-10},{\"lightness\":30}]},{\"featureType\":\"landscape.man_made\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"simplified\"},{\"saturation\":-60},{\"lightness\":10}]},{\"featureType\":\"landscape.natural\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"simplified\"},{\"saturation\":-60},{\"lightness\":60}]},{\"featureType\":\"poi\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"off\"},{\"saturation\":-100},{\"lightness\":60}]},{\"featureType\":\"transit\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"off\"},{\"saturation\":-100},{\"lightness\":60}]}]","is_mobile_or_tablet":"false"};
      /* ]]> */
    </script>
    <script  type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/script4e44.js' %}"></script>
    <script  type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/jpreloader.min53cf.js' %}"></script>
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <meta name="generator" content=""/>
  </head>

  <body class="home page page-id-60 page-template page-template-page-template-one-page page-template-page-template-one-page-php js-preloader wpb-js-composer js-comp-ver-4.2.3 vc_responsive">
    <section id="hero" class="hero-section section">
      <div class="hero-logo site-logo text-center hidden-xs">
     </div>
      <ul class="section-background-slider caroufredsel js-caroufredsel " data-caroufredsel="hero-slider">
        <li class="parallax-background js-parallax dark-scheme hero-slide-style-1" style="background-image: url(/static/home/assets/wp-content/uploads/2014/05/module-1.jpg); background-size: cover; background-repeat: no-repeat;" data-parallax="background">
          <div class="hero-text container">
            <div class="hero-text-table">
              <div class="hero-text-table-cell text-center">
                <div class="hero-text-content animate_css animated fadeInUp">
                  <div class="hero-top-text"><span>Welcome to Global Freight and Cargo</span></div>
                  <div class="hero-middle-text">
                    <ul class="text-rotator"  data-interval="5000">
                      <li><span>TOP NOTH FREIGHT SERVICES</span></li>
                      <li><span>A LEGACY OF QUALITY</span></li>
                      <li><span>DEVOTED TO EXCELLENCE</span></li>
                    </ul>
                  </div>
                  <div class="hero-bottom-text"><span>Harmonizing the transport & securiity of travel goods since 2000</span></div>
                </div>
                <div class="hero-buttons ">
                  <a href="#about" class="btn btn-hero-default js-anchor-link">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="parallax-background js-parallax dark-scheme hero-slide-style-2" style="background-image: url(/static/home/assets/wp-content/uploads/2014/05/module-2.jpg); background-size: cover; background-repeat: no-repeat;" data-parallax="background">
          <div class="hero-text container">
            <div class="hero-text-table">
              <div class="hero-text-table-cell text-center">
                <div class="hero-text-content animate_css animated fadeInUp">
                  <div class="hero-top-text"><span>Award winning modern +Freight agency</span></div>
                  <div class="hero-middle-text">
                    <ul class="text-rotator"  data-interval="5000">
                      <li><span>Commitment</span></li>
                      <li><span>Experience</span></li>
                      <li><span>Dedication</span></li>
                    </ul>
                  </div>
                  <div class="hero-bottom-text"><span>WE BUILD LASTING RELATIONSHIPS WITH OUR CLIENTS</span></div>
                </div>
                <div class="hero-buttons ">
                  <a href="#about" class="btn btn-hero-default js-anchor-link">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="section-background-pagination caroufredsel-pagination">
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </div>
    </section>
    <div id="document" class="document">
      <header id="header" class="header-section section navbar navbar-default header-floating" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand site-logo" href="http://globalfreightandcargo.com/">
                Global Freight and Cargo
            </a>
          </div>
          <div class="collapse navbar-collapse header-navigation" id="header-navigation">
            <div class="header-separator pull-left visible-md visible-lg"></div>
            <ul id="menu-main" class="nav navbar-nav js-superfish sf-menu">
              <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-60 current_page_item menu-item-127"><a href="index.html">Home</a></li>
              <li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-60 current_page_item menu-item-298"><a href="index.html#about">About</a></li>
              <li id="menu-item-299" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-60 current_page_item menu-item-299"><a href="index.html#services">Services</a></li>
              <li id="menu-item-400" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-60 current_page_item menu-item-400"><a href="http://www.globalfreightandcargo.com/accounts/signin/">Agent Login</a></li>

              <li id="menu-item-400" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-60 current_page_item menu-item-400"><a href="http://www.globalfreightandcargo.com/track">Track Cargo</a></li>

              <li id="menu-item-400" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-60 current_page_item menu-item-400"><a href="http://www.globalfreightandcargo.com/track/security">Track Secure Consignment</a></li>

            </ul>
            <div class="header-separator pull-right visible-md visible-lg"></div>
          </div>
        </div>
      </header>
      <div class="header-floating-anchor"></div>
      <div id="content" class="visual-composer-page post-60 page type-page status-publish hentry">
        <div class="section-anchor" data-anchor="remove" data-section="#header"></div>
        <section id="about" class=" vc_custom_1398381329573 content-section section vc-section separator-none">
          <div class="section-anchor section-top-anchor" data-anchor="top" data-section="#about"></div>
          <div class="section-background  " data-parallax="background"></div>
          <div class="separator" style="background-color: #000000; color: #ffffff;"></div>
          <div class="container">
            <div class="wpb_row vc_row-fluid">
              <div class="vc_span12 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_willow_section_heading wpb_content_element text-center ">
                    <div class="wpb_wrapper">
                      <h4 class="small section-title"><span>Who are we?</span></h4>
                      <h2 class="large section-title"><span>Mordern transport agency</span></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-anchor section-bottom-anchor" data-anchor="bottom" data-section="#about"></div>
        </section>
        <section id="section-1" class=" vc_custom_1398392881324 content-section section vc-section separator-none" style="color:#333333;">
          <div class="section-anchor section-top-anchor" data-anchor="top" data-section="#section-1"></div>
          <div class="section-background  " data-parallax="background"></div>
          <div class="separator" style="background-color: #333333; color: #ffffff;"></div>
          <div class="container">
            <div class="wpb_row vc_row-fluid">
              <div class="vc_span6 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                      <p>Global freight & Cargo is an independently owned and operated global transportation provider offering clients the cargo shipping service of a large multi-national group with personalized services combined with customer service. Global freight & Cargo has the resources you need for shipping freight anywhere in the world.

                      Our employees are the most dedicated professionals in the business. We are always on the lookout for the best, and handpick professionals who exhibit a pronounced attentiveness to our customers’ needs and wishes. Women and men who are inspired by a genuine love of their work and equipped with a hefty serving of ambition.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_span6 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_willow_progress_bar wpb_content_element  js-progress-bar" data-value="96">
                    <div class="wpb_wrapper">
                      <div class="progress-bar-text">
                        <span class="progress-bar-caption">Water</span>
                        <span class="progress-bar-value">96%</span>     
                      </div>
                      <div class="progress-bar-track"></div>
                      <div class="progress-bar-thumb" style="width: 96%;"></div>
                    </div>
                  </div>
                  <div class="wpb_willow_progress_bar wpb_content_element  js-progress-bar" data-value="89">
                    <div class="wpb_wrapper">
                      <div class="progress-bar-text">
                        <span class="progress-bar-caption">Road</span>
                        <span class="progress-bar-value">89%</span>     
                      </div>
                      <div class="progress-bar-track"></div>
                      <div class="progress-bar-thumb" style="width: 89%;"></div>
                    </div>
                  </div>
                  <div class="wpb_willow_progress_bar wpb_content_element  js-progress-bar" data-value="78">
                    <div class="wpb_wrapper">
                      <div class="progress-bar-text">
                        <span class="progress-bar-caption">Air</span>
                        <span class="progress-bar-value">78%</span>     
                      </div>
                      <div class="progress-bar-track"></div>
                      <div class="progress-bar-thumb" style="width: 78%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-anchor section-bottom-anchor" data-anchor="bottom" data-section="#section-1"></div>
        </section>
        <section id="section-3" class=" vc_custom_1398909348430 content-section section vc-section separator-none" style="color:#ffffff;">
          <div class="section-anchor section-top-anchor" data-anchor="top" data-section="#section-3"></div>
          <div class="section-background parallax-background js-parallax black-overlay" style="background-image: url(/static/home/assets/wp-content/uploads/2014/04/counter-bg22.jpg);background-repeat:no-repeat;background-size: cover;" data-parallax="background"></div>
          <div class="separator" style="background-color: #ffffff; color: #ffffff;"></div>
          

          <div class="container">
            <div class="wpb_row vc_row-fluid">
              <div class="vc_span3 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_willow_counter wpb_content_element text-center  js-countup" data-counter="counter-4" data-start="0" data-end="16440" data-decimals="0">
                    <div class="wpb_wrapper">
                      <div class="counter-icon "><span class="linecons li_like"></span></div>
                      <div class="counter-value">
                        <span class="prefix"></span><span id="counter-4" class="number">16440</span><span class="suffix"></span>
                      </div>
                      <div class="counter-caption">Hours of Work</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_span3 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_willow_counter wpb_content_element text-center  js-countup" data-counter="counter-5" data-start="0" data-end="798" data-decimals="0">
                    <div class="wpb_wrapper">
                      <div class="counter-icon "><span class="linecons li_cup"></span></div>
                      <div class="counter-value">
                        <span class="prefix"></span><span id="counter-5" class="number">798</span><span class="suffix"></span>
                      </div>
                      <div class="counter-caption">Happy Customers</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_span3 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_willow_counter wpb_content_element text-center  js-countup" data-counter="counter-6" data-start="0" data-end="64800" data-decimals="0">
                    <div class="wpb_wrapper">
                      <div class="counter-icon "><span class="linecons li_world"></span></div>
                      <div class="counter-value">
                        <span class="prefix"></span><span id="counter-6" class="number">64800</span><span class="suffix"></span>
                      </div>
                      <div class="counter-caption">Kilometres Traveled</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-anchor section-bottom-anchor" data-anchor="bottom" data-section="#section-3"></div>
        </section>
        <section id="services" class=" vc_custom_1398662806307 content-section section vc-section separator-none">
          <div class="section-anchor section-top-anchor" data-anchor="top" data-section="#services"></div>
          <div class="section-background  " data-parallax="background"></div>
          <div class="separator" style="background-color: #000000; color: #ffffff;"></div>
          <div class="container">
            <div class="wpb_row vc_row-fluid">
              <div class="vc_span12 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_willow_section_heading wpb_content_element text-center ">
                    <div class="wpb_wrapper">
                      <h4 class="small section-title"><span>What we can do</span></h4>
                      <h2 class="large section-title"><span>Our Services</span></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-anchor section-bottom-anchor" data-anchor="bottom" data-section="#services"></div>
        </section>
        <section id="section-8" class=" vc_custom_1398397138531 content-section section vc-section separator-none">
          <div class="section-anchor section-top-anchor" data-anchor="top" data-section="#section-8"></div>
          <div class="section-background  " data-parallax="background"></div>
          <div class="separator" style="background-color: #000000; color: #ffffff;"></div>
          <div class="container">
            <div class="wpb_row vc_row-fluid">
              <div class="vc_span6 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_willow_service_block wpb_content_element style-2  wpb_animate_when_almost_visible wpb_animate_css animated fadeInUp">
                    <div class="wpb_wrapper">
                      <div class="service-icon"><span class="linecons li_display"></span></div>
                      <h3 class="small heading service-heading">Ocean</h3>
                      <div class="service-content"><span style="color: #444444;">We operate globally and cooperate with a number of different shipping companies. Our independent position means that we are free to choose the option that best meets your needs and wishes. With your own staff or contracted partners in all destinations, and our IT system, we follow your shipment the entire way from start to finish.</span></div>
                    </div>
                  </div>
                  <div class="wpb_willow_service_block wpb_content_element style-2  wpb_animate_when_almost_visible wpb_animate_css animated fadeInUp">
                    <div class="wpb_wrapper">
                      <div class="service-icon"><span class="linecons li_bulb"></span></div>
                      <h3 class="small heading service-heading">Air</h3>
                      <div class="service-content"><span style="color: #444444;">Your way is our way. With a full range of air freight solutions across the globe and an entirely independent position, we can create the perfect air freight solution for you.
                      We pick up and drop off wherever you want and provide the lead times you ask for: Fixed traffic solutions with pre-booked space. Charters for larger cargo or special transports. On demand service with the next departing flight. Express flights for rush documents and packages.</span></div>
                    </div>
                  </div>
                  <div class="wpb_willow_service_block wpb_content_element style-2  wpb_animate_when_almost_visible wpb_animate_css animated fadeInUp">
                    <div class="wpb_wrapper">
                      <div class="service-icon"><span class="linecons li_world"></span></div>
                      <h3 class="small heading service-heading">Road</h3>
                      <div class="service-content"><span style="color: #444444;">We transport goods across all of Africa.
                        We know our markets inside and out. And we know exactly what to do to meet the stringent demands for punctuality, cargo care, safety and security that we insist upon..</span></div>
                    </div>
                  </div>
                  <div class="wpb_willow_service_block wpb_content_element style-2  wpb_animate_when_almost_visible wpb_animate_css animated fadeInUp">
                    <div class="wpb_wrapper">
                      <div class="service-icon"><span class="linecons li_shop"></span></div>
                      <h3 class="small heading service-heading">Warehousing & Distribution</h3>
                      <div class="service-content"><span style="color: #444444;">Our Distribution operates almost 700,000 square feet of professionally managed, secure, dry storage space in Mombasa,Kenya. For more than 15 years, our company has provided comprehensive warehousing and value-added logistics services with a diverse portfolio of customers and industry experience.</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_span6 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element wpb_animate_when_almost_visible wpb_animate_css animated fadeInUp vc_align_right">
                    <div class="wpb_wrapper">
                      <img width="457" height="526" src="{% static 'home/assets/wp-content/uploads/2014/04/services-img.png' %}" class=" vc_box_border_grey attachment-full" alt="services-img" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-anchor section-bottom-anchor" data-anchor="bottom" data-section="#section-8"></div>
        </section>
        
        <section id="section-16" class=" vc_custom_1399330146664 content-section section vc-section separator-none">
          <div class="section-anchor section-top-anchor" data-anchor="top" data-section="#section-16"></div>
          <div class="section-background-gmap">
            <div class="js-gmap gmap " data-parallax="element" data-zoom="9" data-lat="1.286557" data-lng="36.817337" data-style=""></div>
          </div>
          <div class="separator" style="background-color: #000000; color: #ffffff;"></div>
          <div class="container">
            <div class="wpb_row vc_row-fluid">
              <div class="vc_span12 wpb_column column_container">
                <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element  vc_custom_1399343162473">
                    <div class="wpb_wrapper">
                      <h6 style="text-align: center;"><span style="color: #999; letter-spacing: 1px;">CURRENTLY PUSHING PIXELS FROM</span></h6>
                    </div>
                  </div>
                  <div class="wpb_willow_big_title wpb_content_element text-center ">
                    <div class="wpb_wrapper">
                      <span>kenya</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-anchor section-bottom-anchor" data-anchor="bottom" data-section="#section-16"></div>
        </section>

      </div>
      <div id="jpreContent">
        <div class="site-logo">
          <img src="{% static 'home/assets/wp-content/uploads/2014/05/logo_dark.png' %}" alt="Willow" />
        </div>
      </div>
      <footer id="footer" class="footer-section section footer-group-section" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div id="willow_icon_list-2" class="widget widget_willow_icon_list">
                <h3 class="widget-title">General</h3>
                <dl class="dl-icon">
                  <dt><span class="fa fa-envelope"></span></dt>
                  <dd>info@globalfreightandcargo.com</dd>
                  <dt><span class="fa fa-phone"></span></dt>
                  <dd></dd>
                  <dt><span class="fa fa-globe"></span></dt>
                  <dd>www.globalfreightandcargo.com</dd>
                </dl>
              </div>
              <div id="willow_social_links-3" class="widget widget_willow_social_links">
                <h3 class="widget-title">Stay Connected</h3>
                <ul class="social-media-links">
                  <dd>Kenya: +254 737 496637</dd>
                  <dd>Tanzania: +255 685 289892</dd>
                  <dd>DRC: +243 990 499859</dd>
                  <dd>UK: +44 70 3194 5742</dd>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div id="willow_icon_list-3" class="widget widget_willow_icon_list">
                <h3 class="widget-title">Gloab Freight and Cargp HQ</h3>
                <dl class="dl-icon">
                  <dt><span class="fa fa-globe"></span></dt>
                  <dd>Cathrine Ndereba Road</dd>
                  <dt><span class="fa fa-home"></span></dt>
                  <dd>Embakasi Village, Nairobi, Kenya</dd>

                </dl>
              </div>
            </div>
            <div class="col-md-6">
              <div id="text-3" class="widget widget_text">
                <h3 class="widget-title">Contact Us</h3>
                <div class="textwidget">
                  <div class="wpcf7" id="wpcf7-f217-o1">
                    <div class="screen-reader-response"></div>
                    <form action="£" method="post" class="wpcf7-form" novalidate="novalidate">
                      <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="217" />
                        <input type="hidden" name="_wpcf7_version" value="3.8.1" />
                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f217-o1" />
                        <input type="hidden" name="_wpnonce" value="25c294731d" />
                      </div>
                      <div class="row">
                        <div class="col-md-6 form-group"><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Full Name" /></span></div>
                        <div class="col-md-6 form-group"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span></div>
                      </div>
                      <div class="form-group"><span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text form-control" aria-invalid="false" placeholder="Subject" /></span></div>
                      <div class="form-group"><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="5" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="message"></textarea></span></div>
                      <div class="form-group"><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn-primary" /></div>
                      <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <footer id="bottom-logo" class="bottom-logo-section section footer-group-section">
        <div class="container">
        </div>
      </footer>
      <footer id="copyright" class="copyright-section section footer-group-section">
        <div class="container">
          <div class="copyright-legal">
            © 2016 Global Freight and Cargo - All Rights Reserved            
          </div>
        </div>
      </footer>
    </div>
    <div id="popup-document" class="popup-document">
      <div class="markup hidden">
        <div class="mfp-iframe-scaler">
          <iframe src="#" class="mfp-iframe" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <!-- BEGIN CUSTOM FOOTER SCRIPTS -->
    <!-- END CUSTOM FOOTER SCRIPTS -->
    <link rel='stylesheet' id='js_composer_front-css'  href="{% static 'home/assets/wp-content/plugins/js_composer/assets/css/js_composer_front9c92.css'  %}" type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_custom_css-css'  href="{% static 'home/assets/wp-content/uploads/js_composer/custom9c92.css'  %}" type='text/css' media='screen' />
    <script  %}" type='text/javascript' src="{% static 'home/assets/wp-content/plugins/contact-form-7/includes/js/jquery.form.min9d5c.js' %}"></script>
    <script  %}" type='text/javascript'>
      /* <![CDATA[ */
      var _wpcf7 = {"loaderUrl":"","sending":"Sending ..."};
      /* ]]> */
    </script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/plugins/contact-form-7/includes/js/scripts7e2e.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/plugins/wp-retina-2x/js/picturefill.minbe6a.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-includes/js/wp-embed.minc1f9.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/jquery.parallax.minc358.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/imagesloaded.pkgd.minaeb9.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/jquery.touchswipe.min3ba1.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/jquery.caroufredsel-packedf731.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/plugins/js_composer/assets/js/js_composer_front9c92.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/plugins/js_composer/assets/lib/jquery-waypoints/waypoints.min9c92.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/countup.minf488.js' %}"></script>
    <script  type='text/javascript' src="{% static 'home/assets/wp-content/plugins/js_composer/assets/lib/isotope/dist/isotope.pkgd.min9c92.js' %}"></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/jquery.magnific-popup.mine2dc.js' %}"></script>
    <script   type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false&amp;ver=4.4.2'></script>
    <script   type='text/javascript' src="{% static 'home/assets/wp-content/themes/willow/js/gmap3.minaf8e.js' %}"></script>
    <style type="text/css" data-type="vc-shortcodes-custom-css">.vc_custom_1398381329573{padding-top: 110px !important;}.vc_custom_1398392881324{padding-top: 60px !important;padding-bottom: 80px !important;}.vc_custom_1398382305906{padding-top: 0px !important;padding-bottom: 110px !important;}.vc_custom_1398909348430{margin-bottom: 0px !important;padding-top: 80px !important;padding-bottom: 80px !important;}.vc_custom_1398662806307{padding-top: 110px !important;padding-bottom: 40px !important;}.vc_custom_1398397138531{padding-bottom: 90px !important;}.vc_custom_1398706508901{padding-top: 130px !important;padding-bottom: 160px !important;}.vc_custom_1401780697612{padding-top: 60px !important;padding-bottom: 110px !important;}.vc_custom_1398909828071{padding-top: 100px !important;padding-bottom: 95px !important;background-color: #eeeeee !important;background-position: 0 0 !important;background-repeat: repeat !important;}.vc_custom_1398662864003{padding-top: 106px !important;}.vc_custom_1398450781020{padding-top: 20px !important;padding-bottom: 75px !important;}.vc_custom_1399279373450{padding-top: 80px !important;}.vc_custom_1398463201780{padding-top: 110px !important;padding-bottom: 60px !important;background-color: #f3f3f3 !important;}.vc_custom_1398463433591{padding-bottom: 100px !important;background-color: #f3f3f3 !important;}.vc_custom_1399148691715{padding-top: 50px !important;padding-bottom: 70px !important;background-color: #0faf97 !important;}.vc_custom_1399330146664{padding-top: 167px !important;padding-bottom: 180px !important;}.vc_custom_1399151148984{margin-bottom: 20px !important;}.vc_custom_1399151163861{margin-bottom: 20px !important;}.vc_custom_1399151182751{margin-bottom: 20px !important;}.vc_custom_1398975492605{margin-bottom: 20px !important;}.vc_custom_1399343162473{margin-bottom: 15px !important;}</style>
  </body>
  </html>