{% extends 'home/basic.html' %}
{% block page_content %}

</div>
{# closed the container div tag from the basic.html page so that the nav page can be broad #}

{% if user.is_authenticated %} 
	{# if the user is logged in then display the nav_bar #}
	<div class="navbar navbar-default">
	  <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'main:index' %}">Profiles Point</a>
	  </div>
	  <div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
		  <li class="active"><a href="#">Active</a></li>
		  <li><a href="#">Link</a></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Profiles <b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <li><a href="{% url 'profiles:create' %}">Create a New Profile</a></li>
			  <li><a href="{% url 'profiles:view_all' %}#">View My Profiles</a></li>
			  <li><a href="#">Something else here</a></li>
			  <li class="divider"></li>
			  <li class="dropdown-header">Dropdown header</li>
			  <li><a href="#">Separated link</a></li>
			  <li><a href="#">One more separated link</a></li>
			</ul>
		  </li>
		</ul>
		<form class="navbar-form navbar-left">
		  <input type="text" class="form-control col-lg-8" placeholder="Search">
		</form>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="#">Link</a></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">You are signed in as {{user.username}}.<b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <li><a href="#"></a></li>
			  <li><a href="#">Another action</a></li>
			  <li><a href="#">Something else here</a></li>
			  <li class="divider"></li>
			  <li><a href="{% url 'accounts:signout'%}">Sign Out</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	</div>
	<br><div class="container">


	</div>

{% else %}
{# the user has not logged so give option to sign in or sign up #}

	<br>
	<div class="container">
	<div align="right">
	<a href="{% url 'accounts:signin' %}" class="btn btn-info">Sign In </a>
	or 
	<a href="{% url 'accounts:signup' %}" class="btn btn-info">Sign Up Today </a>
	</div>
	</div>
	<br>
	<br>
	<br>

{% endif %}
{# display content either way i.e if the user is logged in or not #}

<div class="container">
	{% block body %}
	{% endblock %}

{% endblock%}