<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GFC</title>
	{%load staticfiles %}
    <!-- Bootstrap -->
    <link href="{% static "accounts/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body background="{% static "accounts/bg.jpg" %}">
<br>
<br>
<br>
	
	<h4>
	<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-5">
  

    {% block content %}
    {% endblock%}
	
	</h4>
	</div>
 
  <div class="col-md-3"></div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "accounts/js/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "accounts/js/bootstrap.min.js" %}"></script>
  </body>
</html>
