<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Willow</title>
	<atom:link href="http://solopine.com/willow/feed/" rel="self" type="application/rss+xml" />
	<link>http://solopine.com/willow</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 03 Jul 2014 09:27:11 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Disclosure &#8211; You &#038; Me Flume Remix</title>
		<link>http://solopine.com/willow/disclosure-you-me-flume-remix/</link>
		<comments>http://solopine.com/willow/disclosure-you-me-flume-remix/#respond</comments>
		<pubDate>Tue, 29 Apr 2014 06:28:07 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Music]]></category>
		<category><![CDATA[audio]]></category>
		<category><![CDATA[disclosure]]></category>
		<category><![CDATA[music]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=54</guid>
		<description><![CDATA[Soluta eirmod an mel, sea ei probo quaerendum. Sea et aliquam volutpat. Et doctus aliquip verterem mei, ut pri vidit facer solet, vim legere probatus..]]></description>
				<content:encoded><![CDATA[<p>Soluta eirmod an mel, sea ei probo quaerendum. Sea et aliquam volutpat. Et doctus aliquip verterem mei, ut pri vidit facer solet, vim legere probatus inciderint et. Ad malis ceteros fuisset vim, et eos quidam tincidunt interpretaris, tale laboramus consequat pri id.</p>
<p><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/96379023&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true" width="100%" height="166" frameborder="no" scrolling="no"></iframe></p>
<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum et lorem veniam, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/disclosure-you-me-flume-remix/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>How to Make the Best Drinks</title>
		<link>http://solopine.com/willow/how-to-make-the-best-drinks/</link>
		<comments>http://solopine.com/willow/how-to-make-the-best-drinks/#respond</comments>
		<pubDate>Mon, 28 Apr 2014 18:23:04 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Food & Health]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=277</guid>
		<description><![CDATA[Ut pellentesque et felis in bibendum. Mauris sit amet euismod erat. Quisque ornare consequat tempor. Aliquam commodo posuere tortor id iaculis..]]></description>
				<content:encoded><![CDATA[<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum <strong>et lorem veniam</strong>, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
<p>Pro case rebum zril ad. Sed vero admodum intellegebat at. Corrumpit appellantur philosophia eum id. Nonumes facilisis theophrastus has et. Vis cibo sale ea, falli gubergren ullamcorper quo id, mutat propriae pri an. Mel altera molestie te, graece corpora ei sea.</p>
<p><span id="more-277"></span></p>
<h3>Ingredients</h3>
<ul>
<li>4 ounces ground spicy Italian sausage</li>
<li>4 eggs</li>
<li>¼ cup milk</li>
<li>½ teaspoon seasoning of your choice</li>
<li>¼ teaspoon garlic powder</li>
<li>1 lb. shredded potatoes</li>
<li>½ cup shredded cheese</li>
<li>green onions for topping</li>
</ul>
<p>Et his tale accommodare reprehendunt, dicta perfecto salutatus pri at, usu liber tation ex. Dolore mediocrem ea qui, id rebum ancillae albucius est, sed id gloriatur concludaturque. Incorrupte dissentiunt no has. Quo at quando interesset persequeris, ut mea legendos expetendis, mei te erat debet. Id vero omnis efficiantur per.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/how-to-make-the-best-drinks/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Best Photography of 2014</title>
		<link>http://solopine.com/willow/best-photography-of-2014/</link>
		<comments>http://solopine.com/willow/best-photography-of-2014/#respond</comments>
		<pubDate>Mon, 28 Apr 2014 18:21:06 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Travel]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=274</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, vix quas primis ad, ne mel falli verterem. Pri te eleifend evertitur, mei vocent fabellas et. Ei vitae urbanitas mei. Ea quaeque..]]></description>
				<content:encoded><![CDATA[<p>Placeat 90′s meggings typewriter, pour-over synth wayfarers Portland readymade. Enim banjo Godard deep v. Meggings sapiente vinyl eiusmod minim. Ugh tousled viral pug butcher try-hard, assum. Flexitarian Marfa keytar hella, sustainable dolor messenger bag nostrud Godard Schlitz hashtag semiotics. Locavore 90′s authentic helvetica mustache quis. Small batch retro before they sold out, gluten-free Schlitz YOLO ut post-ironic flannel Godard readymade Etsy meh.</p>
<p><span id="more-274"></span></p>
<p><span style="color: #555555;">Meggings sapiente vinyl eiusmod minim. Ugh tousled viral pug butcher try-hard, assumenda art party. Flexitarian Marfa keytar hella, sustainable dolor messenger bag nostrud </span><a style="font-weight: bold; color: #ff502e;" href="http://solopine.com/hickory/fujifilm-x100s-review/#">Godard Schlitz hashtag</a><span style="color: #555555;"> semiotics. Locavore 90′s authentic helvetica mustache quis. Small batch retro before they sold out, gluten-free Schlitz YOLO ut post-ironic flannel Godard readymade Etsy meh.</span></p>
<h3>Lorem Ipsum Dolor</h3>
<p>Locavore 90′s authentic helvetica mustache quis. Small batch retro before they sold out, gluten-free Schlitz YOLO ut post-ironic flannel Godard readymade Etsy meh.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/best-photography-of-2014/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Ellie Goulding &#8211; High For This</title>
		<link>http://solopine.com/willow/ellie-goulding-high-for-this/</link>
		<comments>http://solopine.com/willow/ellie-goulding-high-for-this/#respond</comments>
		<pubDate>Mon, 28 Apr 2014 18:20:40 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Music]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=281</guid>
		<description><![CDATA[Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum et lorem veniam, ei populo commodo scaevola ius..]]></description>
				<content:encoded><![CDATA[<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum <strong>et lorem veniam</strong>, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei. Pro case rebum zril ad. Sed vero admodum intellegebat at.</p>
<p>Corrumpit appellantur philosophia eum id. Nonumes facilisis theophrastus has et. Vis cibo sale ea, falli gubergren ullamcorper quo id, mutat propriae pri an. Mel altera molestie te, graece corpora.</p>
<p><span id="more-281"></span> <iframe width="760" height="428" src="https://www.youtube.com/embed/Wg1I5kqB1tM?feature=oembed" frameborder="0" allowfullscreen></iframe></p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/ellie-goulding-high-for-this/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Homemade Italian Style Gorgonzola Pizza Recipe</title>
		<link>http://solopine.com/willow/homemade-italian-style-pizza-recipe/</link>
		<comments>http://solopine.com/willow/homemade-italian-style-pizza-recipe/#respond</comments>
		<pubDate>Mon, 28 Apr 2014 07:14:34 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Food & Health]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=263</guid>
		<description><![CDATA[Soluta eirmod an mel, sea ei probo quaerendum. Sea et aliquam volutpat. Et doctus aliquip verterem mei, ut pri vidit facer solet, vim legere probatus. Et doctus aliquip verterem mei, ut pri vidit facer solet..]]></description>
				<content:encoded><![CDATA[<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum <strong>et lorem veniam</strong>, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
<p>Pro case rebum zril ad. Sed vero admodum intellegebat at. Corrumpit appellantur philosophia eum id. Nonumes facilisis theophrastus has et. Vis cibo sale ea, falli gubergren ullamcorper quo id, mutat propriae pri an. Mel altera molestie te, graece corpora ei sea.</p>
<p><span id="more-263"></span></p>
<h3>Ingredients</h3>
<ul>
<li>4 ounces ground spicy Italian sausage</li>
<li>4 eggs</li>
<li>¼ cup milk</li>
<li>½ teaspoon seasoning of your choice</li>
<li>¼ teaspoon garlic powder</li>
<li>1 lb. shredded potatoes</li>
<li>½ cup shredded cheese</li>
<li>green onions for topping</li>
</ul>
<p>Et his tale accommodare reprehendunt, dicta perfecto salutatus pri at, usu liber tation ex. Dolore mediocrem ea qui, id rebum ancillae albucius est, sed id gloriatur concludaturque. Incorrupte dissentiunt no has. Quo at quando interesset persequeris, ut mea legendos expetendis, mei te erat debet. Id vero omnis efficiantur per.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/homemade-italian-style-pizza-recipe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Explore the Beautiful Norwegian Fjords</title>
		<link>http://solopine.com/willow/explore-the-beautiful-norwegian-fjords/</link>
		<comments>http://solopine.com/willow/explore-the-beautiful-norwegian-fjords/#respond</comments>
		<pubDate>Mon, 28 Apr 2014 07:11:59 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Travel]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=260</guid>
		<description><![CDATA[Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert..]]></description>
				<content:encoded><![CDATA[<p>Suspendisse ornare orci sed erat sollicitudin, vel ultrices turpis laoreet. Fusce placerat consequat sodales. Suspendisse imperdiet rhoncus adipiscing. Proin auctor pulvinar lacus, sed eleifend ante sodales et. Ut metus sem, porttitor in velit sed, luctus scelerisque urna. Morbi faucibus vel est sed condimentum. Etiam sed velit nibh. Nunc dictum cursus velit, a aliquam lacus mollis sed.</p>
<p><span id="more-260"></span></p>
<p>Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus. Vestibulum lorem urna, sollicitudin ut velit sed, faucibus dignissim ante. Maecenas vitae ornare leo, id accumsan ipsum. In luctus, felis quis dignis.</p>
<ul>
<li>Lorem ipsum venenatis</li>
<li>Felis quis dignis</li>
<li>Pulvinar lectus</li>
</ul>
<p>Aliquam commodo posuere tortor id iaculis. Aenean ultrices lacinia dolor eu tincidunt. Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/explore-the-beautiful-norwegian-fjords/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Delicious Breakfast Oatmeal Recipe</title>
		<link>http://solopine.com/willow/delicious-breakfast-oatmeal-recipe/</link>
		<comments>http://solopine.com/willow/delicious-breakfast-oatmeal-recipe/#respond</comments>
		<pubDate>Fri, 18 Apr 2014 06:14:26 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Food & Health]]></category>
		<category><![CDATA[breakfast]]></category>
		<category><![CDATA[food]]></category>
		<category><![CDATA[health]]></category>
		<category><![CDATA[recipe]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=48</guid>
		<description><![CDATA[Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert..]]></description>
				<content:encoded><![CDATA[<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum <strong>et lorem veniam</strong>, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
<p>Pro case rebum zril ad. Sed vero admodum intellegebat at. Corrumpit appellantur philosophia eum id. Nonumes facilisis theophrastus has et. Vis cibo sale ea, falli gubergren ullamcorper quo id, mutat propriae pri an. Mel altera molestie te, graece corpora ei sea.</p>
<p><span id="more-48"></span></p>
<h3>Ingredients</h3>
<ul>
<li>4 ounces ground spicy Italian sausage</li>
<li>4 eggs</li>
<li>¼ cup milk</li>
<li>½ teaspoon seasoning of your choice</li>
<li>¼ teaspoon garlic powder</li>
<li>1 lb. shredded potatoes</li>
<li>½ cup shredded cheese</li>
<li>green onions for topping</li>
</ul>
<p>Et his tale accommodare reprehendunt, dicta perfecto salutatus pri at, usu liber tation ex. Dolore mediocrem ea qui, id rebum ancillae albucius est, sed id gloriatur concludaturque. Incorrupte dissentiunt no has. Quo at quando interesset persequeris, ut mea legendos expetendis, mei te erat debet. Id vero omnis efficiantur per.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/delicious-breakfast-oatmeal-recipe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Of Monsters and Men &#8211; Dirty Paws</title>
		<link>http://solopine.com/willow/of-monsters-and-men-dirty-paws/</link>
		<comments>http://solopine.com/willow/of-monsters-and-men-dirty-paws/#respond</comments>
		<pubDate>Fri, 18 Apr 2014 05:49:30 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Music]]></category>
		<category><![CDATA[audio]]></category>
		<category><![CDATA[monsters]]></category>
		<category><![CDATA[music]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=42</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, vix quas primis ad, ne mel falli verterem. Pri te eleifend evertitur, mei vocent fabellas et. Ei vitae urbanitas mei. Ea quaeque..]]></description>
				<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, vix quas primis ad, ne mel falli verterem. Pri te eleifend evertitur, mei vocent fabellas et. Ei vitae urbanitas mei. Ea quaeque molestiae sea, eam detraxit pertinax ut.</p>
<p>Et his tale accommodare reprehendunt, dicta perfecto salutatus pri at, usu liber tation ex. Dolore mediocrem ea qui, id rebum ancillae albucius est, sed id gloriatur concludaturque. Incorrupte dissentiunt no has. Quo at quando interesset persequeris, ut mea legendos expetendis, mei te erat debet. Id vero omnis efficiantur per.</p>
<p><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/27613297&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true" width="100%" height="166" frameborder="no" scrolling="no"></iframe></p>
<p>Lorem ipsum dolor sit amet, vix quas primis ad, ne mel falli verterem. Pri te eleifend evertitur, mei vocent fabellas et. Ei vitae urbanitas mei. Ea quaeque molestiae sea, eam detraxit pertinax ut.</p>
<p><span id="more-42"></span></p>
<p>Soluta eirmod an mel, sea ei probo quaerendum. Sea et aliquam volutpat. Et doctus<strong> aliquip verterem mei</strong>, ut pri vidit facer solet, vim legere probatus inciderint et. Ad malis ceteros fuisset vim, et eos quidam tincidunt interpretaris, tale laboramus consequat pri id.</p>
<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum et lorem veniam, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/of-monsters-and-men-dirty-paws/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Places You Have to Visit</title>
		<link>http://solopine.com/willow/places-you-have-to-visit/</link>
		<comments>http://solopine.com/willow/places-you-have-to-visit/#respond</comments>
		<pubDate>Wed, 16 Apr 2014 05:49:07 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Travel]]></category>
		<category><![CDATA[biking]]></category>
		<category><![CDATA[mountains]]></category>
		<category><![CDATA[nature]]></category>
		<category><![CDATA[travel]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=18</guid>
		<description><![CDATA[Ut pellentesque et felis in bibendum. Mauris sit amet euismod erat. Quisque ornare consequat tempor. Aliquam commodo posuere tortor id iaculis..]]></description>
				<content:encoded><![CDATA[<p><span style="line-height: 1.5em;">Ut pellentesque et felis in bibendum. Mauris sit amet euismod erat. Quisque ornare consequat tempor. Aliquam commodo posuere tortor id iaculis. Aenean ultrices lacinia dolor eu tincidunt. Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus.</span></p>
<blockquote><p>Ut vira codo matis. Sed lacia luctus magna ut sodales. Proin massa quam, tincidunt id sem at, blandit viverra justo.</p></blockquote>
<p>Suspendisse ornare orci sed erat sollicitudin, vel ultrices turpis laoreet. Fusce placerat consequat sodales. Suspendisse imperdiet rhoncus adipiscing. Proin auctor pulvinar lacus, sed eleifend ante sodales et. Ut metus sem, porttitor in velit sed, luctus scelerisque urna. Morbi faucibus vel est sed condimentum. Etiam sed velit nibh. Nunc dictum cursus velit, a aliquam lacus mollis sed.</p>
<p><span id="more-18"></span></p>
<p>Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus. Vestibulum lorem urna, sollicitudin ut velit sed, faucibus dignissim ante. Maecenas vitae ornare leo, id accumsan ipsum. In luctus, felis quis dignis.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/places-you-have-to-visit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
