<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Travel &#8211; Willow</title>
	<atom:link href="http://solopine.com/willow/category/travel/feed/" rel="self" type="application/rss+xml" />
	<link>http://solopine.com/willow</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 03 Jul 2014 09:27:11 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Best Photography of 2014</title>
		<link>http://solopine.com/willow/best-photography-of-2014/</link>
		<comments>http://solopine.com/willow/best-photography-of-2014/#respond</comments>
		<pubDate>Mon, 28 Apr 2014 18:21:06 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Travel]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=274</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, vix quas primis ad, ne mel falli verterem. Pri te eleifend evertitur, mei vocent fabellas et. Ei vitae urbanitas mei. Ea quaeque..]]></description>
				<content:encoded><![CDATA[<p>Placeat 90′s meggings typewriter, pour-over synth wayfarers Portland readymade. Enim banjo Godard deep v. Meggings sapiente vinyl eiusmod minim. Ugh tousled viral pug butcher try-hard, assum. Flexitarian Marfa keytar hella, sustainable dolor messenger bag nostrud Godard Schlitz hashtag semiotics. Locavore 90′s authentic helvetica mustache quis. Small batch retro before they sold out, gluten-free Schlitz YOLO ut post-ironic flannel Godard readymade Etsy meh.</p>
<p><span id="more-274"></span></p>
<p><span style="color: #555555;">Meggings sapiente vinyl eiusmod minim. Ugh tousled viral pug butcher try-hard, assumenda art party. Flexitarian Marfa keytar hella, sustainable dolor messenger bag nostrud </span><a style="font-weight: bold; color: #ff502e;" href="http://solopine.com/hickory/fujifilm-x100s-review/#">Godard Schlitz hashtag</a><span style="color: #555555;"> semiotics. Locavore 90′s authentic helvetica mustache quis. Small batch retro before they sold out, gluten-free Schlitz YOLO ut post-ironic flannel Godard readymade Etsy meh.</span></p>
<h3>Lorem Ipsum Dolor</h3>
<p>Locavore 90′s authentic helvetica mustache quis. Small batch retro before they sold out, gluten-free Schlitz YOLO ut post-ironic flannel Godard readymade Etsy meh.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/best-photography-of-2014/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Explore the Beautiful Norwegian Fjords</title>
		<link>http://solopine.com/willow/explore-the-beautiful-norwegian-fjords/</link>
		<comments>http://solopine.com/willow/explore-the-beautiful-norwegian-fjords/#respond</comments>
		<pubDate>Mon, 28 Apr 2014 07:11:59 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Travel]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=260</guid>
		<description><![CDATA[Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert..]]></description>
				<content:encoded><![CDATA[<p>Suspendisse ornare orci sed erat sollicitudin, vel ultrices turpis laoreet. Fusce placerat consequat sodales. Suspendisse imperdiet rhoncus adipiscing. Proin auctor pulvinar lacus, sed eleifend ante sodales et. Ut metus sem, porttitor in velit sed, luctus scelerisque urna. Morbi faucibus vel est sed condimentum. Etiam sed velit nibh. Nunc dictum cursus velit, a aliquam lacus mollis sed.</p>
<p><span id="more-260"></span></p>
<p>Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus. Vestibulum lorem urna, sollicitudin ut velit sed, faucibus dignissim ante. Maecenas vitae ornare leo, id accumsan ipsum. In luctus, felis quis dignis.</p>
<ul>
<li>Lorem ipsum venenatis</li>
<li>Felis quis dignis</li>
<li>Pulvinar lectus</li>
</ul>
<p>Aliquam commodo posuere tortor id iaculis. Aenean ultrices lacinia dolor eu tincidunt. Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/explore-the-beautiful-norwegian-fjords/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Places You Have to Visit</title>
		<link>http://solopine.com/willow/places-you-have-to-visit/</link>
		<comments>http://solopine.com/willow/places-you-have-to-visit/#respond</comments>
		<pubDate>Wed, 16 Apr 2014 05:49:07 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Travel]]></category>
		<category><![CDATA[biking]]></category>
		<category><![CDATA[mountains]]></category>
		<category><![CDATA[nature]]></category>
		<category><![CDATA[travel]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=18</guid>
		<description><![CDATA[Ut pellentesque et felis in bibendum. Mauris sit amet euismod erat. Quisque ornare consequat tempor. Aliquam commodo posuere tortor id iaculis..]]></description>
				<content:encoded><![CDATA[<p><span style="line-height: 1.5em;">Ut pellentesque et felis in bibendum. Mauris sit amet euismod erat. Quisque ornare consequat tempor. Aliquam commodo posuere tortor id iaculis. Aenean ultrices lacinia dolor eu tincidunt. Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus.</span></p>
<blockquote><p>Ut vira codo matis. Sed lacia luctus magna ut sodales. Proin massa quam, tincidunt id sem at, blandit viverra justo.</p></blockquote>
<p>Suspendisse ornare orci sed erat sollicitudin, vel ultrices turpis laoreet. Fusce placerat consequat sodales. Suspendisse imperdiet rhoncus adipiscing. Proin auctor pulvinar lacus, sed eleifend ante sodales et. Ut metus sem, porttitor in velit sed, luctus scelerisque urna. Morbi faucibus vel est sed condimentum. Etiam sed velit nibh. Nunc dictum cursus velit, a aliquam lacus mollis sed.</p>
<p><span id="more-18"></span></p>
<p>Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus. Vestibulum lorem urna, sollicitudin ut velit sed, faucibus dignissim ante. Maecenas vitae ornare leo, id accumsan ipsum. In luctus, felis quis dignis.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/places-you-have-to-visit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
