<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>monsters &#8211; Willow</title>
	<atom:link href="http://solopine.com/willow/tag/monsters/feed/" rel="self" type="application/rss+xml" />
	<link>http://solopine.com/willow</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 03 Jul 2014 09:27:11 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Of Monsters and Men &#8211; Dirty Paws</title>
		<link>http://solopine.com/willow/of-monsters-and-men-dirty-paws/</link>
		<comments>http://solopine.com/willow/of-monsters-and-men-dirty-paws/#respond</comments>
		<pubDate>Fri, 18 Apr 2014 05:49:30 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Music]]></category>
		<category><![CDATA[audio]]></category>
		<category><![CDATA[monsters]]></category>
		<category><![CDATA[music]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=42</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, vix quas primis ad, ne mel falli verterem. Pri te eleifend evertitur, mei vocent fabellas et. Ei vitae urbanitas mei. Ea quaeque..]]></description>
				<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, vix quas primis ad, ne mel falli verterem. Pri te eleifend evertitur, mei vocent fabellas et. Ei vitae urbanitas mei. Ea quaeque molestiae sea, eam detraxit pertinax ut.</p>
<p>Et his tale accommodare reprehendunt, dicta perfecto salutatus pri at, usu liber tation ex. Dolore mediocrem ea qui, id rebum ancillae albucius est, sed id gloriatur concludaturque. Incorrupte dissentiunt no has. Quo at quando interesset persequeris, ut mea legendos expetendis, mei te erat debet. Id vero omnis efficiantur per.</p>
<p><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/27613297&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true" width="100%" height="166" frameborder="no" scrolling="no"></iframe></p>
<p>Lorem ipsum dolor sit amet, vix quas primis ad, ne mel falli verterem. Pri te eleifend evertitur, mei vocent fabellas et. Ei vitae urbanitas mei. Ea quaeque molestiae sea, eam detraxit pertinax ut.</p>
<p><span id="more-42"></span></p>
<p>Soluta eirmod an mel, sea ei probo quaerendum. Sea et aliquam volutpat. Et doctus<strong> aliquip verterem mei</strong>, ut pri vidit facer solet, vim legere probatus inciderint et. Ad malis ceteros fuisset vim, et eos quidam tincidunt interpretaris, tale laboramus consequat pri id.</p>
<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum et lorem veniam, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/of-monsters-and-men-dirty-paws/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
