<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Food &amp; Health &#8211; Willow</title>
	<atom:link href="http://solopine.com/willow/category/food-health/feed/" rel="self" type="application/rss+xml" />
	<link>http://solopine.com/willow</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 03 Jul 2014 09:27:11 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>How to Make the Best Drinks</title>
		<link>http://solopine.com/willow/how-to-make-the-best-drinks/</link>
		<comments>http://solopine.com/willow/how-to-make-the-best-drinks/#respond</comments>
		<pubDate>Mon, 28 Apr 2014 18:23:04 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Food & Health]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=277</guid>
		<description><![CDATA[Ut pellentesque et felis in bibendum. Mauris sit amet euismod erat. Quisque ornare consequat tempor. Aliquam commodo posuere tortor id iaculis..]]></description>
				<content:encoded><![CDATA[<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum <strong>et lorem veniam</strong>, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
<p>Pro case rebum zril ad. Sed vero admodum intellegebat at. Corrumpit appellantur philosophia eum id. Nonumes facilisis theophrastus has et. Vis cibo sale ea, falli gubergren ullamcorper quo id, mutat propriae pri an. Mel altera molestie te, graece corpora ei sea.</p>
<p><span id="more-277"></span></p>
<h3>Ingredients</h3>
<ul>
<li>4 ounces ground spicy Italian sausage</li>
<li>4 eggs</li>
<li>¼ cup milk</li>
<li>½ teaspoon seasoning of your choice</li>
<li>¼ teaspoon garlic powder</li>
<li>1 lb. shredded potatoes</li>
<li>½ cup shredded cheese</li>
<li>green onions for topping</li>
</ul>
<p>Et his tale accommodare reprehendunt, dicta perfecto salutatus pri at, usu liber tation ex. Dolore mediocrem ea qui, id rebum ancillae albucius est, sed id gloriatur concludaturque. Incorrupte dissentiunt no has. Quo at quando interesset persequeris, ut mea legendos expetendis, mei te erat debet. Id vero omnis efficiantur per.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/how-to-make-the-best-drinks/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Homemade Italian Style Gorgonzola Pizza Recipe</title>
		<link>http://solopine.com/willow/homemade-italian-style-pizza-recipe/</link>
		<comments>http://solopine.com/willow/homemade-italian-style-pizza-recipe/#respond</comments>
		<pubDate>Mon, 28 Apr 2014 07:14:34 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Food & Health]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=263</guid>
		<description><![CDATA[Soluta eirmod an mel, sea ei probo quaerendum. Sea et aliquam volutpat. Et doctus aliquip verterem mei, ut pri vidit facer solet, vim legere probatus. Et doctus aliquip verterem mei, ut pri vidit facer solet..]]></description>
				<content:encoded><![CDATA[<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum <strong>et lorem veniam</strong>, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
<p>Pro case rebum zril ad. Sed vero admodum intellegebat at. Corrumpit appellantur philosophia eum id. Nonumes facilisis theophrastus has et. Vis cibo sale ea, falli gubergren ullamcorper quo id, mutat propriae pri an. Mel altera molestie te, graece corpora ei sea.</p>
<p><span id="more-263"></span></p>
<h3>Ingredients</h3>
<ul>
<li>4 ounces ground spicy Italian sausage</li>
<li>4 eggs</li>
<li>¼ cup milk</li>
<li>½ teaspoon seasoning of your choice</li>
<li>¼ teaspoon garlic powder</li>
<li>1 lb. shredded potatoes</li>
<li>½ cup shredded cheese</li>
<li>green onions for topping</li>
</ul>
<p>Et his tale accommodare reprehendunt, dicta perfecto salutatus pri at, usu liber tation ex. Dolore mediocrem ea qui, id rebum ancillae albucius est, sed id gloriatur concludaturque. Incorrupte dissentiunt no has. Quo at quando interesset persequeris, ut mea legendos expetendis, mei te erat debet. Id vero omnis efficiantur per.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/homemade-italian-style-pizza-recipe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Delicious Breakfast Oatmeal Recipe</title>
		<link>http://solopine.com/willow/delicious-breakfast-oatmeal-recipe/</link>
		<comments>http://solopine.com/willow/delicious-breakfast-oatmeal-recipe/#respond</comments>
		<pubDate>Fri, 18 Apr 2014 06:14:26 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Food & Health]]></category>
		<category><![CDATA[breakfast]]></category>
		<category><![CDATA[food]]></category>
		<category><![CDATA[health]]></category>
		<category><![CDATA[recipe]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=48</guid>
		<description><![CDATA[Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert..]]></description>
				<content:encoded><![CDATA[<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum <strong>et lorem veniam</strong>, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
<p>Pro case rebum zril ad. Sed vero admodum intellegebat at. Corrumpit appellantur philosophia eum id. Nonumes facilisis theophrastus has et. Vis cibo sale ea, falli gubergren ullamcorper quo id, mutat propriae pri an. Mel altera molestie te, graece corpora ei sea.</p>
<p><span id="more-48"></span></p>
<h3>Ingredients</h3>
<ul>
<li>4 ounces ground spicy Italian sausage</li>
<li>4 eggs</li>
<li>¼ cup milk</li>
<li>½ teaspoon seasoning of your choice</li>
<li>¼ teaspoon garlic powder</li>
<li>1 lb. shredded potatoes</li>
<li>½ cup shredded cheese</li>
<li>green onions for topping</li>
</ul>
<p>Et his tale accommodare reprehendunt, dicta perfecto salutatus pri at, usu liber tation ex. Dolore mediocrem ea qui, id rebum ancillae albucius est, sed id gloriatur concludaturque. Incorrupte dissentiunt no has. Quo at quando interesset persequeris, ut mea legendos expetendis, mei te erat debet. Id vero omnis efficiantur per.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/delicious-breakfast-oatmeal-recipe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
