<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <title>Track Id</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {% load staticfiles %}
        <br>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div align="center">
                    {% if error %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>{{error}}</strong>
                    </div>
                    {% endif %}
                    <img src="{% static "img/logo.png" %}" height="100" widht="285"> <br><br>
                    <div class="well well-sm">
                        <form action="/track/track_security/" method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-success" aria-label="Left Align">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search Consignment
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        {% if track_response %}
        <div class="container">
            <br>
            Current Status: <b><font color="green"><h3>{{track_response.status}}</h3></font></b>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Depositor's Name</h3>
                        </div>
                        <div class="panel-body">
                            {{track_response.sender}}
                            <p>
                                <b>{{track_response.depositor_name}}</b>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Receiver Officer's Name</h3>
                        </div>
                        <div class="panel-body">
                            {{track_response.reciever}}
                            <p>
                                <b>{{track_response.reciever_officer_name}}</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Track Number</h3>
                        </div>
                        <div class="panel-body">
                            <h4><b>{{track_response.track_number}}</b></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Date Of Deposit</h3>
                        </div>
                        <div class="panel-body">
                            {{track_response.date_of_deposit}}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Type of Consignment</h3>
                        </div>
                        <div class="panel-body">
                            <font color="blue"><b>{{track_response.type_of_consignment}}</b><font>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Origin</h3>
                        </div>
                        <div class="panel-body">
                          
                            <b> <font color="blue">{{track_response.origin}}</font></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Depositor Address</h3>
                        </div>
                        <div class="panel-body">
                            <b><font color="red">{{track_response.depositer_address}}</font></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Description</b></h3>
                </div>
                <div class="panel-body">
                    <font color="orange"><b>{{track_response.goods_description}}</b></font>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
    </body>
</html>