<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>travel &#8211; Willow</title>
	<atom:link href="http://solopine.com/willow/tag/travel-2/feed/" rel="self" type="application/rss+xml" />
	<link>http://solopine.com/willow</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 03 Jul 2014 09:27:11 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Places You Have to Visit</title>
		<link>http://solopine.com/willow/places-you-have-to-visit/</link>
		<comments>http://solopine.com/willow/places-you-have-to-visit/#respond</comments>
		<pubDate>Wed, 16 Apr 2014 05:49:07 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Travel]]></category>
		<category><![CDATA[biking]]></category>
		<category><![CDATA[mountains]]></category>
		<category><![CDATA[nature]]></category>
		<category><![CDATA[travel]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=18</guid>
		<description><![CDATA[Ut pellentesque et felis in bibendum. Mauris sit amet euismod erat. Quisque ornare consequat tempor. Aliquam commodo posuere tortor id iaculis..]]></description>
				<content:encoded><![CDATA[<p><span style="line-height: 1.5em;">Ut pellentesque et felis in bibendum. Mauris sit amet euismod erat. Quisque ornare consequat tempor. Aliquam commodo posuere tortor id iaculis. Aenean ultrices lacinia dolor eu tincidunt. Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus.</span></p>
<blockquote><p>Ut vira codo matis. Sed lacia luctus magna ut sodales. Proin massa quam, tincidunt id sem at, blandit viverra justo.</p></blockquote>
<p>Suspendisse ornare orci sed erat sollicitudin, vel ultrices turpis laoreet. Fusce placerat consequat sodales. Suspendisse imperdiet rhoncus adipiscing. Proin auctor pulvinar lacus, sed eleifend ante sodales et. Ut metus sem, porttitor in velit sed, luctus scelerisque urna. Morbi faucibus vel est sed condimentum. Etiam sed velit nibh. Nunc dictum cursus velit, a aliquam lacus mollis sed.</p>
<p><span id="more-18"></span></p>
<p>Mauris rhoncus nec massa vel venenatis. Aenean gravida ullamcorper porta. Pellentesque et velit dictum, porttitor arcu eu, pulvinar lectus. Vestibulum lorem urna, sollicitudin ut velit sed, faucibus dignissim ante. Maecenas vitae ornare leo, id accumsan ipsum. In luctus, felis quis dignis.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/places-you-have-to-visit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
