<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>disclosure &#8211; Willow</title>
	<atom:link href="http://solopine.com/willow/tag/disclosure/feed/" rel="self" type="application/rss+xml" />
	<link>http://solopine.com/willow</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Thu, 03 Jul 2014 09:27:11 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.2</generator>
	<item>
		<title>Disclosure &#8211; You &#038; Me Flume Remix</title>
		<link>http://solopine.com/willow/disclosure-you-me-flume-remix/</link>
		<comments>http://solopine.com/willow/disclosure-you-me-flume-remix/#respond</comments>
		<pubDate>Tue, 29 Apr 2014 06:28:07 +0000</pubDate>
		<dc:creator><![CDATA[Solopine Designs]]></dc:creator>
				<category><![CDATA[Music]]></category>
		<category><![CDATA[audio]]></category>
		<category><![CDATA[disclosure]]></category>
		<category><![CDATA[music]]></category>

		<guid isPermaLink="false">http://solopine.com/willow/?p=54</guid>
		<description><![CDATA[Soluta eirmod an mel, sea ei probo quaerendum. Sea et aliquam volutpat. Et doctus aliquip verterem mei, ut pri vidit facer solet, vim legere probatus..]]></description>
				<content:encoded><![CDATA[<p>Soluta eirmod an mel, sea ei probo quaerendum. Sea et aliquam volutpat. Et doctus aliquip verterem mei, ut pri vidit facer solet, vim legere probatus inciderint et. Ad malis ceteros fuisset vim, et eos quidam tincidunt interpretaris, tale laboramus consequat pri id.</p>
<p><iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/96379023&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true" width="100%" height="166" frameborder="no" scrolling="no"></iframe></p>
<p>Eu novum similique nec, in vix veri altera. In qui omnes decore vituperata. Qui in fierent tractatos. Sed nisl stet ut. Pro te ullum etiam affert, cum et lorem veniam, ei populo commodo scaevola ius. Ei audiam inimicus eam, omnis eligendi nam id, ei dicant percipitur mei.</p>
]]></content:encoded>
			<wfw:commentRss>http://solopine.com/willow/disclosure-you-me-flume-remix/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
