


<html lang="en">
  <head>{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Agent</title>

    <!-- Bootstrap -->
    <link href="{% static "agent/css/bootstrap.min.css" %}" rel="stylesheet">
  </head>
  <body>

<br>


<div class="container">

<br><br>
<form action="#" method="post">
{% csrf_token %}
{{form.as_p}}<br>
    <input type="submit" value="Save" class="btn btn-info">

</form>

    </div>

  </div>

</div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "accounts/js/bootstrap.min.js" %}"></script>
  </body>
</html>