


<html lang="en">
  <head>{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Agent</title>

    <!-- Bootstrap -->
    <link href="{% static "agent/css/bootstrap.min.css" %}" rel="stylesheet">
  </head>
  <body>
 
  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/static/img/logo.png">Global</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/">Agent Portal</a></li>
        <li><a href="/track">Track Page</a></li>
        <li><a href="/agent/security">Security</a></li>
        <li><a href="/track/security">Track Secured Consignment</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/accounts/signout">Sign Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br>


<div class="container">
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Track Forms</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">New Form</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
  <br><br>    
<table class="table table-hover table-bordered ">
  <tr>
    <td class="active">Reference ID</td>
    <td class="active">Sender</td> 
    <td class="active">Reciever</td>
    <td class="active">Edit</td>
    <td class="active">Delete</td>
  </tr>
  {% for track_form in forms %}
  <tr>
    <td>{{track_form.reference_number}}</td>
    <td>{{track_form.sender}}</td> 
    <td>{{track_form.reciever}}</td>
    <td><a href="/agent/edit/{{track_form.id}}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit</a></td>
    <td><button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal{{track_form.id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Delete</button></td>
  </tr>


  {% endfor %}
</table>

{% for track_form in forms %}

  <!-- Modal -->
<div class="modal fade" id="myModal{{track_form.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{track_form.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete {{track_form.reference_number}}</h4>
      </div>
      <div class="modal-body">
        Are you sure you want DELETE track listing: {{track_form.reference_number}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/agent/delete/{{track_form.id}}" class="btn btn-primary" type="button" class="btn btn-primary">Yes I am Sure</a>
      </div>
    </div>
  </div>
</div>

  {% endfor %}

    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    	
<br><br>
<form action="/agent/new/" method="post">
{% csrf_token %}
{{form.as_table}}<br>
    <input type="submit" value="Save" class="btn btn-info">

</form>

    </div>

  </div>

</div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "accounts/js/bootstrap.min.js" %}"></script>
  </body>
</html>